html, body{ margin: 0; border:none; background-color:transparent; }
body{ background-image: url(../image/top-oneline.gif); background-repeat: repeat-x; overflow:hidden; }

#logo{ width: 512px; height: 60px; background-image: url(../image/top/NETGEAR_Genie.png); position: absolute; left : 0px; top: 0px;}
#router-name{position:absolute; left: 0px; top: 45px; font-family: Arial; font-size: 18px; font-weight: Bold; color: #000000; text-align: left; }
#port_warning{position:absolute; left: 55px; top: 50px; font-family: Arial; font-size: 13px; color: Red; text-align: left; }
#labels{ position:absolute; left: 0px; top: 67px; height:30px;}
#labels #space_label{ width:3px; height:inherit; float:left; }
#basic_label{border:1px solid; border-bottom-color:#e5e5e5;}
#advanced_label{border:1px solid; border-bottom-color:#e5e5e5;}
#anc_label{border:1px solid; border-bottom-color:#e5e5e5;}

.label_click{width: 120px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_click.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; }
.label_unclick{ width: 120px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_unclick.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; cursor:pointer; }
.label_click b, .label_unclick b { position: relative; top:5px; }

.label_click_middle{width: 160px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_click_middle.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; }
.label_unclick_middle{ width: 160px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_unclick_middle.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; cursor:pointer; }
.label_click_middle b, .label_unclick_middle b { position: relative; top:5px; }

.label_click_long{width: 200px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_click_long.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold;}
.label_unclick_long{ width: 200px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_unclick_long.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; cursor:pointer; }
.label_click_long b, .label_unclick_long b { position: relative; top:5px; }

.label_click_longest{width: 220px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_click_longest.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold;}
.label_unclick_longest{ width: 220px; height: 30px; float:left; text-align: center;  background-image:url(../image/top/label_unclick_longest.gif); background-repeat: no-repeat; font-family: Arial; font-size: 17px; font-weight: Bold; cursor:pointer;  }
.label_click_longest b, .label_unclick_longest b { position: relative; top:5px; }

.logout_bt{right:0px; top:3px; width: 95px; height: 22px; position:absolute; background-image: url(../image/footer/search_button_long.gif);   background-repeat: no-repeat;  font-family: Arial; font-size: 14px; text-align: center; color: #ffffff; cursor: pointer;padding-bottom: 2px;}
.logout_bt b {position: relative; top:2px;}


#firm_version{ position:absolute; right: 0px; top: 25px; font-family: Arial; font-size: 14px; font-weight: Bold; color: #000000; text-align: right; }
#update_info { height: 23px;  position: absolute; font-family: Arial; font-style: italic; font-size: 12px; color: #ffffff; cursor: pointer; display: none; left: 270px; line-height: 23px;}
#update_info_left { height: 23px; width: 24px; background: url(../image/top/top_warning_back_left.gif) no-repeat left; position: relative; float: left; }
#update_info_middle{ height: 23px; width: auto; background: url(../image/top/top_warning_back_middle.gif) repeat-x; position: relative; float: left; }
.update_info_down { top: 70px;  }
.update_info_up { top: 42px; }
#update_info_right{ height: 23px; width: 10px; background: url(../image/top/top_warning_back_right.gif) no-repeat right; position: relative; float: left; }
#select_language{ width: 181px; height: 22px; position:absolute; right: 0px; top: 70px; text-align: right; }
#select_language #language{height: 22px; text-align: left;}

