<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

	<section id="github">
            <a href="{{ site.github.repository_url }}/wiki" class="btn btn-github"><span class="icon"></span>Wiki Board</a>
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
            <a href="{{ site.github.repository_url }}/projects/1" class="btn btn-github"><span class="icon"></span>State of Art</a>
            <a href="{{ site.github.repository_url }}/issues" class="btn btn-github"><span class="icon"></span>Issue Trac</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <header>
      <div class="container">
        <section id="wiki_guide">
          <p></p><p></p>
          <p>For a further knowledge of the whole project, it is suggested to read the 
	  <a href="{{ site.github.repository_url }}/wiki">WIKI BOARD GUIDE</a></p>
        </section>
      </div>
    </header>

    <header>
     <div class="container">
      <section id="startup">
        <p><b>Router initialization script</b>: initialize router for package installations.</p>
	<p>With 192.168.0.1 as router lan-ip, web-login the router and 
	<a href="http://192.168.0.1/setup.cgi?todo=debug"><b>enable debug mode</b></a></p>
	<p>telnet the router (login: root):</p>
	<p><i>$ cd /etc</i></p>
	<p><i>$ curl -k -O https://raw.githubusercontent.com/negan07/ancistrus/master/scripts/startup.sh</i></p>
	<p><i>$ chmod 755 startup.sh</i></p>
	<p><i>$ ./startup.sh</i></p>
	<p>Follow the instructions on terminal.</p>
        {% if site.show_downloads %}
	<p>
        <a href="./scripts/ancistrus-arm-D7000/startup.sh" class="btn">Download router initialization script</a>
	</p>
        {% endif %}
      </section>
     </div>
    </header>

{% if site.show_downloads %}
    <header>
      <div class="container">
        <section id="downloads">
          <p><a href="https://github.com/negan07/ancistrus/releases"><b>Monolithic image firmware .img</b></a></p>
          <p><b>Commit build:</b> #195</p>
          <p><b>Base FW:</b> 1.0.1.50</p>
          <p><br></br></p>
          <p><b>Release Notes</b></p>
	  <p><b>Kernel:</b> NEON vfp, no GPL mod overlaps, memory, overload reduction, other smalls.</p>
	  <p><b>Uclibc:</b> fpu, code opt., other smalls.</p>
          <p><b>GPL builtin libs/apps:</b> gcc/sstrip size opt. flags recompiled.</p>
	  <p><b>Boot:</b> telnet, auth login, opkg info/status dir on dedicated mtd, other minors.</p>
	  <p><b>Rootfs:</b> orphan cleanup.</p>
          <p><b>10%</b> rootfs free space gained.</p>
	  <p><b>Packages</b> <i>.ipk</i> included:</p>
          <p><b>nvram</b>-0.1.0</p>
          <p><b>ancistrus-core</b>-0.1.0</p>
          <p><b>iproute2</b>-4.10.0</p>
          <p><b>qos-sqm</b>-0.1.0 <i>(fq_codel)</i></p>
          <p><b>netperf</b>-2.7.0</p>
          <p><b>network-test</b>-0.1.0</p>
          <p><b>zlib</b>-1.2.11</p>
          <p><b>libarchive</b>-3.3.1</p>
          <p><b>opkg</b>-0.3.4</p>
          <p><b>lzo</b>-2.10</p>
          <p><b>openvpn</b>-2.4.4</p>
          <p><b>hdparm</b>-9.52</p>
          <p><b>smartmontools</b>-6.5</p>
          <p><b>utelnetd</b>-0.1.11</p>
	  <p>
          <a href="https://github.com/negan07/ancistrus/releases/download/195/D7000-V1.0.1.50_1.0.1-ancistrus_negan07-build-195.zip" class="btn">Download build #195</a>
          <a href="https://github.com/negan07/ancistrus/releases/download/195/D7000-V1.0.1.50_1.0.1.zip" class="btn">Download build #195 no .ipk</a>
          <a href="https://github.com/negan07/ancistrus/archive/195.tar.gz" class="btn">Source Code build #195</a>
	  </p>
        </section>
      </div>
    </header>
{% endif %}

    <div class="container">
      <section id="footer">
        <a href="https://raw.githubusercontent.com/negan07/ancistrus/master/DISCLAIMER" class="btn btn-github"><span class="icon"></span>DISCLAIMER</a>
	<a href="https://raw.githubusercontent.com/negan07/ancistrus/master/LICENSE" class="btn btn-github"><span class="icon"></span>License</a>
      </section>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>

