<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

	<section id="github">
            <a href="{{ site.github.repository_url }}/wiki" class="btn btn-github"><span class="icon"></span>Wiki Board</a>
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
            <a href="{{ site.github.repository_url }}/projects/1" class="btn btn-github"><span class="icon"></span>State of Art</a>
            <a href="{{ site.github.repository_url }}/issues" class="btn btn-github"><span class="icon"></span>Issue Trac</a>
        </section>

        <section id="downloads">
          {% if site.show_downloads %}
            <!-- a href="./img/" class="btn">Download monolithic .img</a-->
          {% endif %}
        </section>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <header>
    <div class="container">
      <section id="wiki_guide">
        <p></p><p></p>
        <p>For a further knowledge of the whole project, it is suggested to read the 
	<a href="{{ site.github.repository_url }}/wiki">WIKI BOARD GUIDE</a></p>
      </section>
    </div>
    </header>

    <header>
    <div class="container">
      <section id="startup">
        <p><b>Router initialization script</b>: initialize router for package installations.</p>

	<p>With 192.168.0.1 as router lan-ip, web-login the router and 
	<a href="http://192.168.0.1/setup.cgi?todo=debug"><b>enable debug mode</b></a></p>
	<p>telnet the router (login: root):</p>
	<p><i>$ cd /etc</i></p>
	<p><i>$ curl -k -O https://raw.githubusercontent.com/negan07/ancistrus/master/scripts/startup.sh</i></p>
	<p><i>$ chmod 755 startup.sh</i></p>
	<p><i>$ ./startup.sh</i></p>

	<p>Follow the instructions on terminal.</p>
	<p>
          {% if site.show_downloads %}
            <a href="./scripts/ancistrus-arm-D7000/startup.sh" class="btn">Download router initialization script</a>
          {% endif %}
	</p>
      </section>
    </div>
    </header>

    <div class="container">
      <section id="footer">
        <a href="https://raw.githubusercontent.com/negan07/ancistrus/master/DISCLAIMER" class="btn btn-github"><span class="icon"></span>DISCLAIMER</a>
	<a href="https://raw.githubusercontent.com/negan07/ancistrus/master/LICENSE" class="btn btn-github"><span class="icon"></span>License</a>
      </section>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>

